#image1{
    background-image: url(images/image1.jpg);
    height: 430px;
    width: 1349px;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

#d1{
    height: 250px;
    width: 800px;
    margin-left: 100px;
    margin-top: 35px;
}

#d2{
    height: 40px;
    width: 800px;
    display: flex;
}

#maindiv{
    display: flex;
}

#d3{
    height: 350px;
    background-color: whitesmoke;
    width: 450px;
    color: black;
    justify-content: center;
}
#c1:hover{
    opacity: 80%;
    color: grey;
}

#cover1{
    background-image: url(images/bg1.jpg);
    height: 500px;
    width: 1349px;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    margin-top: 0.2%;
}
#cover1:hover{
    opacity: 80%;
}
